.all {
  text-align: center;
  background-color: #fdffe7;
  margin-left: 6px;
  margin-top: 115px;
}

.headerContainer {
  background-color: #fdffe7;
  position: fixed;
  top: 0;
  width: 100%;
  height: 115px;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  /* 下に影を追加 */
}

.Num {
  margin-left: 10px;
}

.header {
  background-color: #fdffe7;
  font-size: 100%;
  height: 115px;
  color: #8c7676;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  padding-left: 20px;
  /* 文字を20px右に動かす */
}

.Button {
  margin-left: auto;
  /* 右寄せ */
  display: flex;
  /* フレックスボックスを使用 */
  gap: 10px;
  /* ボタン同士の間隔10px */
  margin-right: 20px;
}

.year,
.rank {
  color: #8c7676;
  margin: 2px;
  display: flex;
  margin-left: auto;
  width: 28%;
  gap: 10px;
  /* background-color: #ff0000; */
}

.textStyle {
  text-align: left;
  color: #8c7676;
}

.horizontalLine {
  width: 100%;
  border: none;
  border-top: 1px solid #8c7676;
  margin: 20px 0;
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fdffe7;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.content {
  margin-top: 100px;
  /* ヘッダーの高さに応じて調整してください */
}

.menuRow {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menuRow>div {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuRow {
  display: flex;
  width: 100%;
  margin: 0;
}