.pulldown {
  position: relative;
  display: inline-block;
}

.textContainer {
  border: 1px solid #ccc;
  padding: 8px 16px;
  background-color: white;
  cursor: pointer;
}

.text {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%; /* 親要素の幅に合わせる */
}

.menuItem {
  padding: 8px 16px;
  cursor: pointer;
  box-sizing: border-box; /* パディングを含めた幅を計算 */
}

.menuItem:hover {
  background-color: #f1f1f1;
}
